<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449825279165-pgm54icki38te0jvcioneap0hd1sp1et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449825279165-pgm54icki38te0jvcioneap0hd1sp1et</string>
	<key>API_KEY</key>
	<string>AIzaSyAhCzUT2UTYfbYbQ5g7C-sc1OVNV5v_mjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449825279165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airsoft.airsoftFpsCalculator</string>
	<key>PROJECT_ID</key>
	<string>simple-airsoft-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-airsoft-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:449825279165:ios:d6e27447680c77ed</string>
	<key>DATABASE_URL</key>
	<string>https://simple-airsoft-calculator.firebaseio.com</string>
</dict>
</plist>
